:root {
  background: url(images/raphael-lopes-tiles.webp) fixed center
    no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  overflow-x: hidden;
}

a {
  color: #9af1f7;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body,
html {
  background: linear-gradient(
      120deg,
      #0d282df6,
      #0b171be0,
      #180a0ae1,
      #3d0d0de1
    )
    fixed no-repeat;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
  color: #dfeded;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  width: 100vw;
  background: #0b171bec;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
}

.logo {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  gap: 10px;
  margin-left: 10px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  width: 30rem;
  flex: wrap;
}

.nav-items:hover {
  cursor: pointer;
}

hero {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  margin-top: 30px;
  /* height: 100vh; */
}

.desc-text {
  font-weight: 100;
  font-size: 28px;
  color: #dfeded;
}

.dud {
  color: #71c3b0;
}

h1 {
  font-size: 50px;
  flex-shrink: calc(5);
}

h3 {
  font-size: 25px;
  font-weight: normal;
}

hr {
  border: solid 1.5px #16e1b0;
  border-radius: 2px;
  width: 80%;
}

.landing {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  max-width: 500px;
  padding: 40px 0px;
  margin: 10px;
  flex-wrap: wrap-reverse;
}

.landing-text {
  max-width: 200px;
  line-height: 25px;
}

.profile-img {
  border-radius: 2rem;
  max-height: 150px;
}

section {
  width: 60vw;
  padding: 2rem 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0px;
  flex-wrap: wrap;
}

.text {
  flex-direction: column;
  max-width: 20rem;
  padding: 5px;
}

img {
  max-width: 20rem;
  transform: 1.5;
}

/* img:hover {
} */

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.skill-img {
  height: 5rem;
}

footer {
  background: #0b171bec;
  height: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

ul {
  list-style: none;
  padding: 0;
}

#pepe {
  position: sticky;
  display: flex;
  align-self: flex-start;
  bottom: 0;
  margin: 0;
}

.pepe-img {
  max-height: 10px;
}
